*{ 
padding:0; 
margin:0;
box-sizing:border-box
}
html , body {
width:100%;
height:100%;
}

main {
  height: 100vh;
  width: 100vw;
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2vh;
  color: white;
}
main .status {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  height: 50px;
  align-items: center;
  gap: 1vh;
}

.status p {
  font-size: 1.3rem;
}
.status .btn {
  /* padding: 2vh 3vh; */
  background: grey;
  border-radius: 12px;
  width: 160px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}


.board {
  height: 350px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  justify-content: center;
  grid-gap: .6vh;
}

.board-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s all ease-in;
  border: 1px solid rgba(63, 63, 63, 0.674);
  height: 130px;
  width: 130px;
}

.board-item:hover {
  background: rgba(58, 58, 58, 0.706)
}

.board-item p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
}